input.david
makeDay.sh
**/makeDay.sh
*input.txt
2022/makeDay.sh
2023/makeDay.sh
day12/input.txt
day13/input.txt
day14/input.txt
day15/input.txt
day16/input.txt
day17/input.txt
day18/input.txt
day19/input.txt
day1/input.txt
day2/input.txt
day3/input.txt
day4/input.txt
day5/input.txt
day6/input.txt
day7/input.txt
day8/input.txt
day9/input.txt
day10/input.txt
day11/input.txt
day20/input.txt
day21/input.txt
day22/input.txt
day23/input.txt
day24/input.txt
day25/input.txt
